h1 {
   font-family: 'Times New Roman', Times, serif;
    color: rgb(105, 32, 174);
    
}

.title{
    color:rgb(105 32 174);
    font-style:normal;
    font-size: medium;
    align-items: center;
    
}
header{
    background-color:#fff;
    color:rgb(105 32 174);
   font-style:inherit;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 4px;
}
.enlaces{
    display: none;
}
@font-face{
  .banner__title {
    font-size: 70px;
    text-align: center;
    margin-bottom: 60px;
  }
  
  .banner_image {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  img.banner_image{
    width: 50%;
    height: 29rem;
    object-fit: cover;
    border-radius: 27%;
   }
  .banner__subtitle {
    color: currentcolor;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding-inline: 10px;
    margin-top: 20px;
  }
}
  @media screen and (width <= 800px) {
    .banner__title {
      font-size: 35px;
      text-align: center;
    }
  
    .banner {
      gap: 30px;
    }
      img.banner_image {
          width: 51%;
          height: auto;
      }
      nav{
        height: auto;
        width: auto;
      }
     }
  image.carrusel{
    height: 10px;
    width: 10px;
  }
img.Logo{
  height: 150px;
  width: 400px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
    .banner__image {
      padding: 0;
    }
    
    .banner__subtitle {
      width: 100%;
    }
    body{
      background-color:#48ffe41a;
    }
img.banner__image{
  height: auto;
  width:auto;
}